<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>webapp</title>
  <link rel="stylesheet" href="main.css">
</head>


<body>
  <form method="post" action="./" enctype="multipart/form-data" >
    <input type="text" id="name" name="name" value="ファイルに名前を付けて下さい" required size="30">
    <br>
    <br>
    <input type="file" id="img_file" name="img_file">
    <br>
    <br>
    <input type="submit" value="送信する">
  </form>
  <p>プレビュー</p>
  <img id="preview">


  <form action="cgi-bin/example.cgi" method="post">
    <p>検索したいキーワードを入力してください。</p>
    <input type="search" name="search" placeholder="キーワードを入力">
    <input type="submit" name="submit" value="検索">
  </form>
  

  <script src="main.js">
    function previewFile(hoge){
      var fileData = new FileReader();
      fileData.onload = (function() {
        //id属性が付与されているimgタグのsrc属性に、fileReaderで取得した値の結果を入力することで
        //プレビュー表示している
        document.getElementById('preview').src = fileData.result;
      });
      fileData.readAsDataURL(hoge.files[0]);
    }
  </script>
</body>
</html>